---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO COMPONENTS
import Statistics from "@/components/home/insights/statistics/index.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwoBlue from "@/atoms/headings/two/blue/index.astro"

// GET ASTRO PROPS
const { data } = Astro.props

---
<section class="pb-20">
    <Container>
        <section class="grid md:grid-cols-2 gap-14 md:gap-32">
            <HeadingTwoBlue>{ data.title }</HeadingTwoBlue>
            <section class="space-y-8">
                <Statistics
                    number={ data.revenue_amount }
                    title={ data.revenue_title }
                />
                <Statistics
                    number={ data.impressions_served }
                    title={ data.impressions_title }
                />
            </section>
        </section>
    </Container>
</section>
