---

// IMPORTS ASTRO ATOMS
import Link from "@/atoms/link/target-blank/index.astro"
import PictureInternalContain from "@/atoms/picture/internal/contain/index.astro"

// GET ASTRO PROPS
const {

    alternative_text,
    aria_label,
    href,
    source

} = Astro.props

---
<div class="size-5">
    <Link href={ href } aria_label={ aria_label }>
        <PictureInternalContain
            alternative_text={ alternative_text }
            source={ source }
        />
    </Link>
</div>
