---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS JSX COMPONENTS
import ServiceAccordion from "@/components/home/services/accordion/index.jsx"

const data = Array(3).fill({

    title: "Custom Omnichannel Strategy",
    description: "Customer journey mapping, advanced analytics, and optimized testing to meet customer needs.",
    button_text: "See All Services",
    button_link: "/services"

})

---
<section class="bg-ms_royal_blue py-10 md:py-24">
    <Container>
        <ServiceAccordion
            client:load
            data={ data }
        />
    </Container>
</section>
