---

// IMPORTS ASTRO ATOMS
import Video from "@/atoms/video/index.astro"

// GET ASTRO PROPS
const {

    CDN,
    PROJECT

} = Astro.props

const data = {

    source: "/delete-later/hero-video-mutesix.mp4"

}

---
<section class="mt-28">
    <Video>
        <source src={ data.source } type="video/mp4" />
    </Video>
</section>
