---

// GET ASTRO PROPS
const {

    number,
    title

} = Astro.props

---
<div>
    <span class="font-proxima_nova font-extrabold text-ms_dark_blue text-6xl md:text-[110px]">{ number }</span>
    <p class="font-proxima_nova font-medium text-ms_dark_blue text-2xl md:text-3xl">{ title }</p>
</div>
