---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO COMPONENTS
import SocialIcons from "@/components/common/footer/social-icons/index.astro"

// IMPORTS ASTRO ATOMS
import Link from "@/atoms/link/index.astro"
import PictureInternalContain from "@/atoms/picture/internal/contain/index.astro"

// IMPORTS FOOTER COLLECTION
import { getCollection } from 'astro:content'
let footer = await getCollection('footer')
footer = footer.sort((a, b) => a.data.order - b.data.order).filter( ( item ) => item.data.live )

---
<footer class="bg-[#071641] py-20">
    <Container>
       <section class="md:flex justify-between">
            <section class="space-y-16">
                <div class="h-10 md:h-16 w-full">
                    <PictureInternalContain
                        alternative_text="mutesix light logo"
                        source="/logo/footer-logo.avif"
                    />
                </div>
                <p class="hidden md:block text-ms_light_blue text-xs text-right font-proxima_nova">&copy; { new Date().getFullYear() } MuteSix. All rights reserved.</p>
            </section>
            <section class="space-y-10 pt-12 md:pt-0">
                <ul class="grid grid-cols-3 gap-x-4 gap-y-3">
                    {

                        footer.map( ( value ) => {

                            return(
                                <li class="text-white font-proxima_nova font-semibold text-sm text-center md:text-left">
                                    <Link href={ value.data.link } aria_label={ value.data.title }>{ value.data.title }</Link>
                                </li>
                            )

                        })

                    }
                </ul>
                <SocialIcons />
                <p class="md:hidden text-ms_light_blue text-xs text-center font-proxima_nova">&copy; { new Date().getFullYear() } MuteSix. All rights reserved.</p>
            </section>
       </section>
    </Container>
</footer>
