---

// IMPORTS ASTRO COMPONENTS
import SocialIconItem from "@/components/common/footer/social-icons/item/index.astro"

---
<section class="flex gap-4 items-center justify-center md:justify-start">
    <SocialIconItem
        alternative_text="facebook icon"
        aria_label="facebook icon"
        href="https://www.facebook.com/mute6/"
        source="/icons/social/facebook.svg"
    />
    <SocialIconItem
        alternative_text="instagram icon"
        aria_label="instagram icon"
        href="https://www.instagram.com/mutesix/"
        source="/icons/social/instagram.svg"
    />
    <SocialIconItem
        alternative_text="linkedin icon"
        aria_label="linkedin icon"
        href="https://www.linkedin.com/company/mutesix/"
        source="/icons/social/linkedin.svg"
    />
    <SocialIconItem
        alternative_text="tiktok icon"
        aria_label="tiktok icon"
        href="https://www.tiktok.com/@mutesix"
        source="/icons/social/tiktok.svg"
    />
    <SocialIconItem
        alternative_text="threads icon"
        aria_label="threads icon"
        href="https://www.threads.net/@mutesix"
        source="/icons/social/threads.svg"
    />
</section>
